body {
    background-color: #111111;
    color: #00af00;
    font-family: monospace;
    font-size: 20px;
}

p {
    margin: 0px;
    white-space: pre;
    display: inline;
    line-height : 25px;
}

span {
    margin: 0px;
    white-space: pre;
    display: inline;
}

a {
    margin: 0px;
    color: #0000ff;
}

.prompt {
    color: #ffaa00;
}
